In [9]:
# importing the required packages/libraries
import pandas as pd
import math
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# reading the csv file and displaying the first 5 records
dataframe = pd.read_csv('insurance.csv')
dataframe.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [7]:
#Shape of the data
dataframe.values[:,0]

array([19, 18, 28, ..., 18, 21, 61], dtype=object)

In [36]:
q25, q75 = np.percentile(dataframe.bmi, 25), np.percentile(dataframe.bmi, 75)
iqr = q75 - q25
print(iqr)
# calculate the outlier cutoff
cut_off = iqr * 1.7
lower, upper = q25 - cut_off, q75 + cut_off
# identify outliers
bmi_outliers = [x for x in dataframe.bmi if x < lower or x > upper]
print(outliers)

8.3975
[49.06, 50.38, 52.58, 53.13]

In [42]:
smokes_flag = dataframe['smoker']=='yes'
df_smoker = dataframe[~smokes_flag]
df_smoker_non_outliers = df_smoker[~df_smoker.bmi.isin(bmi_outliers)]
#print(df_smoker_non_outliers)
df_smoker_non_outliers.charges.mean()

8443.994934607914

In [49]:
#data types of the dataframe
print(dataframe.dtypes)

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [54]:
smokes_flag = dataframe['smoker']=='yes'
df_smoker = dataframe[smokes_flag]
male_smoker = df_smoker['sex']=='male'
df_smoker_male = df_smoker[male_smoker]
df_smoker_female = df_smoker[~male_smoker]
#print(df_smoker_male)

In [55]:
mean1, mean2 = mean(df_smoker_male), mean(df_smoker_female)

NameError: name 'mean' is not defined

In [5]:
# Checking the presence of missing values extensively
#print(dataframe.isnull())
# Checking the presence of even 1 missing value
dataframe[dataframe.isnull().any(axis=1)]

    age  sex    bmi  children smoker     region     charges
0   NaN  NaN  27.90         0    yes  southwest  16884.9240
1  18.0  NaN  33.77         1     no  southeast   1725.5523